In [3]:
##########################################################################################
#                                                                                        #
#  888888b.  8888888 .d88888b.   .d8888b.     .d8888b.   .d8888b.      d8888      d8888  #
#  888  "88b   888  d88P" "Y88b d88P  Y88b   d88P  Y88b d88P  Y88b    d8P888     d8P888  #
#  888  .88P   888  888     888 Y88b.        888        888          d8P 888    d8P 888  #
#  8888888K.   888  888     888  "Y888b.     888d888b.  888d888b.   d8P  888   d8P  888  #
#  888  "Y88b  888  888     888     "Y88b.   888P "Y88b 888P "Y88b d88   888  d88   888  #
#  888    888  888  888     888       "888   888    888 888    888 8888888888 8888888888 #
#  888   d88P  888  Y88b. .d88P Y88b  d88P   Y88b  d88P Y88b  d88P       888        888  #
#  8888888P" 8888888 "Y88888P"   "Y8888P"     "Y8888P"   "Y8888P"        888        888  #
#                                                                                        # 
##########################################################################################
#
# Python Refresher
#
##########################################################################################

4

In [ ]:
##################################################################################################################
#
# YouDo:
#    1) Make a copy of this notebook with your name as a suffix:  
#           M0_Python_Refresher_FirstLast
#    2) Put it in your folder undr students
#    3) Ensure you are in your branch in git 
#    2) Do all work in this new notebook.
#
##################################################################################################################

# Python Refresher

## Basic Data Structures

The most basic "thing" in python is called an "object".  Basically anything you imagine as "data" would be represented by some number of Python objects.   Python provides several "built-in object types", like _integers_ and _strings_, which are useful for storing and manipulating various data.


The following table lists the fundamental Python object types.

| Type Abbreviation  | Type Full Name| Notes |
| ------------- | ------------- |-------------| 
| str | string  | Text |
| int | integer | Decimal-free numbers |
| float | Floating point Number | A decimal number |
| bool | Boolean | Can be either True or False |
| list | List | An indexed, ordered, collection of other types |
| dict| Dictionary | A 1-to-1 lookup table |
| set | Set | As in set-theory.  A collection of unique objects  |


The following cells show how to create objects of different types.

## Strings

In [1]:
# Strings are surrounded by quotes

s1 = 'This is a string'
s2 = "Double-quotes and single-quotes are equivalent"
s3 = '''This kind can span 
        many lines'''

print(s1)
print(s2) 
print(s3)

This is a string
Double-quotes and single-quotes are equivalent
This kind can span
        many lines

In [2]:
#Question 1 Attempt- Strings are surrounded Quotes
s1= 'First Attempt'
s2= "Second Attempt"
s3= '''Third Attempt'''

print(s1)
print(s2)
print(s3)

First Attempt
Second Attempt
Third Attempt

In [20]:
# Adding strings contatenates them together

L1 = 'Luke. '
L2 = 'I am your father.'
print(L1+L2)

LAdd = L1 + L2

print(LAdd)

Luke. I am your father.
Luke. I am your father.

In [3]:
#Question 2 Attempt- Adding Strings Contatenates Them Together
L1= "Holy"
L2= "Schnikes"
print(L1+L2)
LAdd= L1 + L2

HolySchnikes

In [19]:
B0 = '99'
B1 = '98'
B2 = ' bottles of beer'
B3 = ' on the wall'
B4 = 'you take one down, pass it around'

print(B0+B2+B3)
print('\t'+B0+B2)           # '\t' is a tab character
print(B4+'\n'+'\t'+B0+B2+B3)# '\n' is a newline character

TypeError: 'str' object is not callable

In [1]:
##################################################################################################################
# YouDo
# In a similar pattern to the cell above, make a set of print statements 
# which makes the next verse of that song.
# 
# In case you didn't grow up in North America:
#   https://en.wikipedia.org/wiki/99_Bottles_of_Beer
#
##################################################################################################################
#######################################  BEGIN STUDENT CODE  #####################################################
#Question 3- 
B0 = '97'
B1 = '96'
B2 = ' bottles of beer'
B3 = ' on the wall'
B4 = 'you take one down, pass it around'

print(B0+B2+B3)
print('\t'+B0+B2)# '\t' is a tab character
print(B4+'\n'+'\t'+B0+B2+B3)# '\n' is a newline character


#######################################   END STUDENT CODE   #####################################################

97 bottles of beer on the wall
	97 bottles of beer
you take one down, pass it around
	97 bottles of beer on the wall

## Integers

In [22]:
A = 3        # type is inferred by lack of decimal point
B = int(3)   # explicitly typed
C = int('3') # Casting a numeral/string 3, to the integer value of 3

print(A, B, C)

3 3 3

In [2]:
##################################################################################################################
#
# YouDo:
#    1) In the code below, fix the 3rd term so it computes and prints the integer 12 as the answer
#
##################################################################################################################
#######################################  BEGIN STUDENT CODE  #####################################################

two = 2
three = 3

answer = two * three + 2 * three #Found error, removed ticks
print(answer)


#######################################   END STUDENT CODE   #####################################################

12

## Floats

In [7]:
# The type() function will tell you what type a data object is

F0 = 3           # Not a float!
print('F0: ', F0, type(F0))

F1 = float(3)    # Cast to a float!
print('F1: ', F1, type(F1))

F2 = 3 + 0.0     # Added to a float
print('F2: ', F2, type(F2))

F3 = 3.         # A dot on the end makes it a float
print('F3: ', F3, type(F3))

F4 = 3.000      # So does adding decimapl places
print('F4: ', F4, type(F4))

F5 = 1e6-999997 # Scientific notation is a float as well
print('F5: ', F5, type(F5))

F6 = float('inf') # infinity is a float
print('F6: ', F6, type(F6))
#print(F6 + 1)

F7 = float('NaN') # not a number (nan) is a float, too
print('F7: ', F7, type(F7))

F0:  3 <class 'int'>
F1:  3.0 <class 'float'>
F2:  3.0 <class 'float'>
F3:  3.0 <class 'float'>
F4:  3.0 <class 'float'>
F5:  3.0 <class 'float'>
F6:  inf <class 'float'>
F7:  nan <class 'float'>

In [8]:
##################################################################################################################
#
# YouDo:
#    1) Fix the code below so it computes and prints 9.0 (a float) as the answer
#       Hint:  I can do it by adding a single character
#
##################################################################################################################
#######################################  BEGIN STUDENT CODE  #####################################################

two = 2
three = 3

answer = two * three + three
print('My answer is: ', float(answer), ' of type ', type(float(answer)))




#######################################   END STUDENT CODE   #####################################################

My answer is:  9.0  of type  <class 'float'>

## Booleans

In [50]:
N1 = True   # Equivalent to 1 in some contexts
N2 = False  # Equivalent to 0 in some contexts

print(N1, N2)

True False

In [62]:
print('True AND False = False')
print(N1 & N2) # You can do logic operations on booleans

print('\nTrue OR False = True')
print(N1 | N2) # You can do logic operations on booleans

True AND False = False
False

True OR False = True
True

In [9]:
# If you add bools, they behave like integers
somebools=[True, True, True, False, True]

print(f'The list has {sum(somebools)} True values')
print(f'The list is {sum(somebools)/len(somebools)*100}% True values')

The list has 4 True values
The list is 80.0% True values

## Lists

In [20]:
darf = [True,2,3,4,'five'] # Lists hold stuff

print(darf[2])  # brackets read a value out (counting starts at zero)

# Use .append(newthing) to add a newthing to the list
darf.append("I am new thing")

print(darf)

3
[True, 2, 3, 4, 'five', 'I am new thing']

In [4]:
# You can get a "slice" (subset) of list items with a colon:

print(darf[3:5]) # Get objects 3 and 4 (doens't include the last one)

NameError: name 'darf' is not defined

In [15]:
##################################################################################################################
#
# YouDo:
#    1) print the slice of worklist which contains all the items which begin with 3 and no other itemts
#       [30, 32, ..., 38]
#
##################################################################################################################

worklist = list(range(0,50,2))
print(f'Original worklist: {worklist}')


#######################################  BEGIN STUDENT CODE  #####################################################

myslice = worklist[15:20]

print(f'Thirties Subset: {myslice}')


#######################################   END STUDENT CODE   #####################################################

Original worklist: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
Thirties Subset: [30, 32, 34, 36, 38]

# Dictionaries

In [37]:
# Dictionaries are a key-based map of objects.   

dex = dict()
dex['AllMonths']=['January', 'February', 'March']
dex['Jan']='January'
dex['jan']='January'
dex['JAN']='January'
dex['jan.']='January'
dex['Feb']='February'
dex['Mar']='March'
dex

{'AllMonths': ['January', 'February', 'March'],
 'Jan': 'January',
 'jan': 'January',
 'JAN': 'January',
 'jan.': 'January',
 'Feb': 'February',
 'Mar': 'March'}

In [44]:
# You can use them to make a lookup table

print(f'I was not born in Jan')
print(f"I was not born in {dex['Jan']}")
print(f"I was not born in {dex['AllMonths']}")

I was not born in Jan
I was not born in January
I was not born in ['January', 'February', 'March']

In [16]:
##################################################################################################################
#
# YouDo:
#    1) print the slice of worklist which contains all the items which begin with 3 and no other itemts
#       [30, 32, ..., 38]
#
##################################################################################################################

worklist = list(range(0,50,2))
print(f'Original worklist: {worklist}')

#######################################  BEGIN STUDENT CODE  #####################################################

myslice = worklist[15:20]

print(f'Thirties Subset: {myslice}')



#######################################   END STUDENT CODE   #####################################################

Original worklist: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
Thirties Subset: [30, 32, 34, 36, 38]

In [ ]:
## Very Useful Libraries

### Numerical Python (numpy)
### Regular Expressions (re)
### Scientific Python (scipy)
    #### Statsmodels
    #### Statistics
    #### Signals
    ### Sci-Kit Learn (sklearn

In [57]:
### Pandas

In [18]:
##################################################################################################################
#
# YouDo:
#    1) Print the first, "header" row of the data set
#    2) Print lines 37-40 of the actual data
#
##################################################################################################################
#######################################  BEGIN STUDENT CODE  #####################################################
worklist = list(range(0,50,2))
print(f'Original worklist: {worklist}')

print(lines[37:41])
#######################################   END STUDENT CODE   #####################################################

Original worklist: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

NameError: name 'lines' is not defined